@font-face {
  font-family: "EksellSmall";
  src: url("assets/ekselldisplay-small-webfont.woff2") format("woff2");
}

body {
  margin: 10vh auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: "EksellSmall";
  font-size: 5rem;
  margin-bottom: 20px;
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.content-wrapper {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
}

.card {
  background-color: #fbfbfb;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-img {
  width: 100%;
  height: 200px;

  object-fit: cover;
  background-repeat: no-repeat;
}

.meta-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

h3 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 15px;
}

/* a {
  padding: 13px 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 300;
  background-color: #fbfbfb;
  color: red;
  border: 1px solid red;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
  margin: 0;
} */

a {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 300;
  background-color: #fbfbfb;
  color: red;

  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
  margin: 0;
  margin-bottom: 10px;
  margin-right: 20px;
}

.link-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.img-1 {
  background-image: url(/assets/thumb1.png);
  background-size: cover;
}

.img-2 {
  background-image: url(/assets/thumb2.png);
  background-size: cover;
}

.img-3 {
  background-image: url(/assets/thumb3.png);
  background-size: cover;
}

.img-4 {
  background-image: url(/assets/thumb5.png);
  background-size: cover;
}

.img-5 {
  background-image: url(/assets/thumb4.png);
  background-size: cover;
}
